@import "tailwindcss";
@plugin "daisyui";

/* === FONTS === */
@font-face {
  font-family: "Satoshi";
  src: url("./assets/font/satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

  /* TES STYLES GLOBAUX (SI TU VEUX) */
  body {
    font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }   
  a {
    font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  } 